@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* TOKENS UND UNITS */

:root{
    --light-lavender: #DADDFF;
    --bg-light: #f8f8f8;
    --text: rgb(12, 12, 12);
    --lavendel: #8F98FF;
    --dark-blue: #182A88;
    --muted-blue:#5F6894;
    --bright-orange: #FF7648;
    --kanarien:#FFC278;
    --muted-yellow:#FFE1BD;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 64px;
    font-family: "Montserrat";
}
h2 {
   font-size: 32px;
   font-family: "Montserrat", sans-serif;
}

h3{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight:normal;
    padding-top: 30px;
    line-height: 29px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

li {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: rgb(19, 19, 19);
    text-decoration: none;
    list-style: none;
    padding: 0px 20px;
    cursor: unset;
    display: inline-block;
}

li:hover{
    color: var(--lavendel);
    transition: all 1,5s ease 0,5s;
    text-decoration-line:none;
    font-weight: bold;
    font-size: 17px;
}

button {
    padding: 5px 15px;
    margin-left: 7px;
    background-color:var(--bg-light);
    border-radius: 50px;
    border-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    transition: var(--lavendel);
    
}


/* HEADER BEREICH */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: var(--bg-light);
    
}

header .logo {
    cursor: pointer;
    margin-right: auto;
    width: 15%;
}

input {
    margin-left: 20px;
    padding: 7px 9px;
    background-color: var(--light-lavender);
    border-radius: 50px;
    border-style: none;
    cursor: text;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

input:hover {
    background-color: var(--lavendel);
}

::-webkit-input-placeholder{
    color: var(--text);
}

/* CONTENT BEREICH */

.heroteaser {
    background-image:url(../simplified-setup/img/heroteaser3.svg);
    width:auto;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.heroteaser-inhalt{
    margin-left: 150px;
    text-align: left;
    position: absolute;
    width: 100%;
    color: var(--text);
    height: auto;
    margin-top: 200px;
}

.button{
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding:10px;
    color: var(--text);
    border:0px var(--lavendel);
    border-radius: 30px;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: var(--lavendel);

    box-shadow:rgb(20, 20, 20) 10px 10px 20px -10px;
}

.button:hover{
    background-color: var(--text);
    color: var(--lavendel)
}

/* Schwerpunkte */

.schwerpunkte {
    text-align: center;
    position:relative;
    width: 100%;
    color: var(--text);
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--bg-light);
    
}

.teaser-cards {
    position: relative;
    width: auto;
    padding-top: 0px;
    padding-bottom:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--bg-light);
}

.teaser-cards .card {
    position: relative;
    width: 300px;
    height: 440px;
    background-color: var(--light-lavender);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:rgb(20, 20, 20) 10px 10px 20px -20px;
    transition: 0,5s;
}

.teaser-cards .card .überschrift {
    text-align: left;
    padding-top: 40px;
    margin-left: 40px;

}

.teaser-cards .card .card-inhalt-überschrift {
    position: relative;
    bottom: 10px;
    text-align: left;
    color: var(--text);
    padding-bottom: 10px;
    margin-left: 40px;
    padding-top: 20px;
    font-weight: 100;
    
}

.teaser-cards .card .card-inhalt {
    position: relative;
    bottom: 10px;
    text-align: left;
    color: var(--text);
    padding-bottom: 10px;
    margin-left: 0px;
    padding-top: 0px;
}


.teaser-cards .card .card-inhalt-überschrift a {
    position: relative;
    display: inline-block;
    padding: 10px;
    background: var(--lavendel);
    color: var(--text);
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 100px;
    
}

.teaser-cards .card .card-inhalt-überschrift a:hover{
    background-color: var(--text);
    color: var(--lavendel)
}


/* FOOTER BEREICH */
footer {
    background-color: var(--light-lavender);
    line-height: 24px;
    color: var(--text);
}

footer .footer-nav {
    background-color: var(--light-lavender);
    padding-top: 48px;
    padding:16px;
}

footer .inhalt{
    max-width: 1080px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

footer h2 {
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 15px;
    display:block;
    font-family: "montserrat";
    background-color: var(--bg);
    text-align: left;
}

footer .inhalt a{
    display: block;
    padding-bottom: 10px;
    color: var(--text);
    opacity: 0.65;
    text-decoration: none;
}

footer .inhalt a:hover{
    color: var(--dark-blue);
    text-decoration-line:underline;
}


footer .social {
    margin-block: 16px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
    color: white;
}

footer .social i {
    font-size: 32px;
    padding: 12px;
    text-align: center;
    color: var(--text);
    width: 100%;
}

footer .notice {
    text-align: right;
    padding: 24px;
    font-family: "montserrat";
    font-size: 12px;
}

footer .notice strong {
    color: var(--text);
    font-family: "montserrat";
    font-size: 12px;
}

footer .logo{
    cursor: pointer;
    margin-right: auto;
    width: 70%;
    padding-top: 80px;
}